//
   Created by johnstrobe on 1/08/16.



extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='/stylesheets/skeleton.css')

block body
    .row
        include navBar
    .row
        br
        br
        br
        br
        br
        br
        br
        br
        br
        h3 Add a new item to the database
        br
        form.centerAdd(action="/addItem",method="post",id="form1" )

            h4 Item Name
            input(class="form-control",type="text", name = "itemName", placeholder="name", form="form1", required)
            h4 Item Description
            input(class="form-control",type="text", name = "itemDescription", placeholder="description",form="form1", required)
            h4 Item Category
            select(class="form-control",name="category" form="form1")
                each category in categories
                    option(value='#{category}') #{category}
            h4 Date Found
            input(class="form-control",type="text", name = "dateFound", form="form1", required)
            h4 Location Found
            input(class="form-control",type="text", name = "locationFound", placeholder="eg The Hub",form="form1", required)
            h4 Which Campus the item is at
            select(class="form-control",name="campus" form="form1")
                each location in campus
                    option(value='#{location}') #{location}
            //image upload?
            h4 Image
            input.btn.btn-success(type="submit" form="form1" value="submit")




