extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='/stylesheets/skeleton.css')
block body
  include navBar
  br
  .container main
      +carousel("Carousel ID_3",[
        {
          image: "images/kelburnCampus.jpg",
          h1: "Lost something at Kelburn?",
          button: {caption: "Find It", url: "#"}
        },
        {
          image: "images/lawCampus.jpg",
          h1: "Lost something at Pipitea?",
          button: {caption: "Find It", url: "#"}
        }
      ])
  include footer