extends ../node_modules/jade-bootstrap/_bootstrap
append styles
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/normalize.css')
  link(rel='stylesheet', href='/stylesheets/skeleton.css')
block body
  include navBar
  br
  +carousel("Carousel ID_3",[
    {
      image: "images/kelburnCampus.jpg",
      h1: "Headline #1",
      p: "Carousel Caption #1",
      button: {caption: "Sign up today", url: "#"}
    },
    {
      image: "images/lawCampus.jpg",
      h1: "Headline #2",
      p: "Carousel Caption #2",
      button: {caption: "Sign up today", url: "#"}
    }
  ])