//
   Created by bhulapriy on 22/08/16.
#sidebar

    div(class="sidebar")
        .container.main
            .row
                .col-md-4
                    h5
                        i.glyphicon.glyphicon-home
                        small
                            b  Main
                    ul.nav.nav-pills.nav-stacked
                        li.active
                            a(href='#') Home
                        li
                            a(href='/addItem') Add Item
                        li
                            a(href='/editItem') Edit Item
                    h5
                        i.glyphicon.glyphicon-user
                        small
                            b User
                    ul.nav.nav-pills.nav-stacked
                        li
                            a(href='/login') Log In
                        li
                            a(href='/statistics') View Statistics