//
   Created by borthwstan on 8/08/16.

extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
block body
    include navBar
    include sidebar
    .container
        div(class="vertsyncstats")
            h1 Items Returned
            div(class="row")
                div(class="six columns")
                    svg(class="graph")
                        g(class="grid x-grid")
                            line(x1="90" x2="90" y1="0" y2="450")
                        g(class="grid y-grid")
                            line(x1="90" x2="680" y1="450" y2="450")
                        g(class="labels x-labels")
                            text(x="100" y="470") Jan
                            text(x="202.5" y="470") March
                            text(x="304" y="470") May
                            text(x="406.5" y="470") July
                            text(x="508" y="470") Sept
                            text(x="609.5" y="470") Dec
                            text(x="350" y="490" class="label-title") Month
                        g(class="labels y-labels")
                            text(x='80', y='10') 15
                            text(x='80', y='150') 10
                            text(x='80', y='300') 5
                            text(x='80', y='450') 0
                            text(x="55" y="200" class="label-title") Number
                        g(class="data" data-setname="data from the database")
                            circle(cx='90', cy='192', data-value='7.2', r='4')
                            circle(cx='240', cy='141', data-value='800.1', r='4')
                            circle(cx='388', cy='179', data-value='7.7', r='4')
                            circle(cx='531', cy='200', data-value='6.8', r='4')
                            circle(cx='677', cy='104', data-value='6.7', r='4')
    include footer

