//
   Created by borthwstan on 8/08/16.

extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
block body
    include navBar
        div(class="vertsyncresults")
            h1 Items Returned
            div(class="row")
                div(class="six columns")
    include footer

