//
   Created by borthwstan on 8/08/16.

extends ../node_modules/jade-bootstrap/_bootstrap
append styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/skeleton.css')
block body
    include navBar
        div(class="vertsyncstats")
            h1 Items Returned
            div(class="row")
                div(class="six columns")
                    svg(class="graph")
                        g(class="grid x-grid")
                            line(x1="90" x2="90" y1="5" y2="371")
                        g(class="grid y-grid")
                            line(x1="90" x2="705" y1="370" y2="370")
    include footer

